<router-outlet>
    
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-primary text-center">NGRX- State Management</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-light bg-dark text-center">Using Component Communication</h3>
        </div>
        <div class="col-md-4">
            <h3 class="text-light bg-dark text-center">Using Service Class</h3>
        </div>
        <div class="col-md-4">
            <h3 class="text-light bg-dark text-center">Using NGRX</h3>
            <app-ngrx-counter></app-ngrx-counter>
        </div>
    </div>
    


</router-outlet>