<router-outlet>

    <h1 class="text-primary text-center">Component Communication & Various Decorators</h1><br><br><br>
    
    <h1 class="text-primary text-center">Using @Input Decorator</h1>
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-light bg-dark text-center">Parent To Child</h3>
            <app-employee></app-employee>
        </div>

        <div class="col-md-4">
            <h3 class="text-light bg-dark text-center">Parent To Multiple Child</h3>
            <app-office></app-office>
        </div>

        <div class="col-md-4">
            <h3 class="text-light bg-dark text-center">Parent To Grand Child</h3>
        </div>
    </div> <br />

   
    <h1 class="text-primary text-center">Using @Output Decorator</h1>
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-light bg-dark text-center">Child To Parent</h3>
            <app-school></app-school>
        </div>

        <div class="col-md-4">
            <h3 class="text-light bg-dark text-center">Child To Multiple sections of Parent</h3>
            <app-product></app-product>
        </div>

        <div class="col-md-4">
            <h3 class="text-light bg-dark text-center">Child To Parent(ViewChild)</h3>
            <app-view-child></app-view-child>
        </div>
    </div><br />


    <h1 class="text-primary text-center">Among any 2 un-related Components Using Subject Observable</h1>
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-light bg-dark text-center">Property Among Siblings</h3>
            <app-sibling></app-sibling>
        </div>

        <div class="col-md-4">
            <h3 class="text-light bg-dark text-center">Multiple Properties & Methods Among Sibling</h3>

        </div>

        <div class="col-md-4">
            <h3 class="text-light bg-dark text-center">Among Sibling's Child</h3>
            <app-afixi></app-afixi>
        </div>
    </div><br>

    
    <h1 class="text-primary text-center">Using @ViewChild Decorator</h1>
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-light bg-dark text-center">Access Child Component</h3>
            <app-counter-parent></app-counter-parent>
        </div>

        <div class="col-md-4">
            <h3 class="text-light bg-dark text-center">Access Directive</h3>
            <app-color-parent></app-color-parent>
        </div>

        <div class="col-md-4">
            <h3 class="text-light bg-dark text-center">Acess DOM Element</h3>
            <app-theme></app-theme>
        </div>
    </div><br>


    <h1 class="text-primary text-center">Using @ViewChildren Decorator</h1>
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-light bg-dark text-center">Through Component</h3>
            <app-component-parent></app-component-parent>
        </div>

        <div class="col-md-6">
            <h3 class="text-light bg-dark text-center">Through DOM Element</h3>
            <app-dom-parent></app-dom-parent>
        </div>
    </div><br>


    <h1 class="text-primary text-center">Using @ContentChild & @ContentChildren Decorator</h1>
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-light bg-dark text-center">@ContentChild</h3>
            <app-contentchild-parent></app-contentchild-parent>
        </div>

        <div class="col-md-6">
            <h3 class="text-light bg-dark text-center">@ContentChildren</h3>
            <app-contentchildren-parent></app-contentchildren-parent>
        </div>
    </div><br>


    <h1 class="text-primary text-center">Content Projection</h1>
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-light bg-dark text-center">A Simple Example</h3>
            <content-parent></content-parent>
        </div>

        <div class="col-md-6">
            <h3 class="text-light bg-dark text-center">Using Class, Id, Attribute, Tag Selectors</h3>
            <app-allselector-parent></app-allselector-parent>
        </div>
    </div><br>

    <h1 class="text-primary text-center"> @HostListener & @HostBinding Decorators</h1>
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-light bg-dark text-center">@HostListener on Component</h3>
            <app-host-listener-component></app-host-listener-component>
        </div>

        <div class="col-md-4">
            <h3 class="text-light bg-dark text-center">@HostListener through Directives</h3>
            <app-host-listener-directive></app-host-listener-directive>
        </div>

        <div class="col-md-4">
            <h3 class="text-light bg-dark text-center">@HostBinding</h3>
            <app-host-binding></app-host-binding>
        </div>
    </div> <br />

</router-outlet>
