<router-outlet>

  <h1 class="text-primary text-center">Component Communication</h1>
  <div class="row">    
      <div class="col-md-4">
          <h3 class="text-light bg-dark text-center">Parent To Child</h3>
          <app-employee></app-employee>
      </div>
      
      <div class="col-md-4">
          <h3 class="text-light bg-dark text-center">Parent To Multiple Child</h3>
          <app-office></app-office>
      </div>

      <div class="col-md-4">
          <h3 class="text-light bg-dark text-center">Parent To Grand Child</h3>
      </div>
  </div>

  
  <br />
  <div class="row">    
    <div class="col-md-4">
        <h3 class="text-light bg-dark text-center">Child To Parent</h3>
        <app-school></app-school>
    </div>
    
    <div class="col-md-4">
        <h3 class="text-light bg-dark text-center">Child To Multiple sections of Parent</h3>
        <app-product></app-product>
    </div>

    <div class="col-md-4">
        <h3 class="text-light bg-dark text-center">Child To Grand Parent</h3>
    </div>
</div>


<div class="row">    
    <div class="col-md-12">
        <h3 class="text-light bg-dark text-center">Between Sibbling</h3>

    </div>
</div>


</router-outlet>