<div class="border border-primary" style="background-color: #eee;">
    <p appChangeColor>Change My Color</p><br>
    <input type="radio" name="ColredRadio" (click)="changeColor('Green')">Green
    <input type="radio" name="ColredRadio" (click)="changeColor('yellow')">Yellow
    <input type="radio" name="ColredRadio" (click)="changeColor('pink')">Pink
    <input type="radio" name="ColredRadio" (click)="changeColor('Blue')">Blue
    <input type="radio" name="ColredRadio" (click)="changeColor('red')">Red

</div>
