<div class="row">
    <div class="col-12">
        <div class="card redial-border-light redial-shadow mb-4">
            <div class="card-body">
                <form class="userformsec" #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)">
                    <div class="row">
                        <div class="col-md-6">
                            
                            <div class="form-group" [class.has-error]="fname.invalid && fname.touched" [class.has-success]="fname.valid">
                                <label class="d-block" for="full_name" class="control-label">Full Name</label>
                                <input type="text" #fname="ngModel" required name="full_name" [(ngModel)]="full_name" class="form-control" autocomplete="off" placeholder="" />
                                <span class="help-block" *ngIf="fname.invalid && fname.touched">Full name is required!</span>
                                <span class="help-block" *ngIf="fname.valid && fname.touched">{{signUpForm.value.full_name | json}}</span>
                            </div>
                            <div class="form-group">
                                <label class="d-block" for="email" class="control-label">Email ID</label>
                                <input type="text" name="email" [(ngModel)]="email" class="form-control" autocomplete="off" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label class="d-block" for="gender" class="control-label">Gender</label>
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" name="gender" [(ngModel)]="gender" value="male" required #genderC="ngModel">Male
                                    </label>&nbsp;&nbsp;
                                    <label class="radio-inline">
                                        <input type="radio" name="gender" [(ngModel)]="gender" value="female" required #genderC="ngModel">Female
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block" for="department" class="control-label">Department</label>
                                <select class="fancy-select form-control form-control-sm"
                                 name="department" [(ngModel)]="department" #departmentC="ngModel" required>
                                    <option selected="" value="0">Select Status</option>  
                                    <option [ngValue]="k.name" *ngFor="let k of departments">{{k.name}}</option>  
                                </select>
                            </div>
                            
                        </div>

                        <div class="col-md-6">                            
                            <div class="form-group">
                                <label class="d-block" for="isActive" class="control-label">Is Active</label>
                                <input type="checkbox" name="isActive" [(ngModel)]="isActive" #isActiveC="ngModel" required class="form-control" />
                                <span class="help-block" *ngIf="isActiveC.invalid && isActiveC.touched">IsActive is required!</span>
                            </div>
                            
                
                            <!--<div class="form-group" [class.has-error]="email.invalid && email.touched" [class.has-success]="email.valid">
                                <label class="d-block">End Date</label>
                                <input type="text" class="form-control form-control-sm" name="endDate" placeholder="" [(ngModel)]="endDate" autocomplete="off" bsDatepicker [bsConfig]= "datePickerConfig" />
                            </div>-->
                        </div>

                        <br>{{signUpForm.value | json}}<br>
                        <div class="clearfix"></div>
                    </div>
                    <div class="redial-divider my-4"></div>
                    <div class="text-center">
                        <button class="btn btn-primary btn-xs" type="submit" [disabled]="signUpForm.invalid">Submit</button>
                    </div>
                </form>
                
            </div>
        </div>

    </div>
</div>
